@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-width: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(66, 65, 65);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.274);
    padding: 10px;
    width: 300px;
    border-radius: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}